@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./myfont/PressStart2P.woff) format('woff');
  src: local('PressStart2P'), url(./myfont/PressStart2P.ttf) format("truetype");
  src: local('PressStart2P'), url(./myfont/PressStart2P.woff2) format("woff2");
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  /* background-color: #F2F2F2 !important; */
  background-image: url(./img/background-page.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  font-family: "Nunito", sans-serif !important;
}